    <ul class="nav">
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/commands" class="a"><i class="fas fa-chart-bar"></i> Commands</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/settings" class="a"><i class="fas fa-cog"></i> Settings</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>" class="a"><i class="fas fa-chart-bar"></i> Statistics</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/automod" class="a"><i class="fas fa-ban"></i> Auto Mod</a>
      </li>
<!--       <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/cc" class="a"><i class="fas fa-code"></i> Custom Commands</a>
      </li> -->
    </ul>