<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../part/head404.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body>
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>      
    <%- include('../part/loading.ejs') %>
    
    <%- include('../part/navbar.ejs') %>
    
    <main role="main" class="container main">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="jumbo-img">
            <img class="jumbotron-image-i" alt="404 image" src="https://cdn.glitch.com/136d7709-13b1-47e0-8093-10e69dec318f%2Fundraw_page_not_found_su7k.svg?v=1628214741313">
          </div>
          <h1 class="display-4">404</h1>
          <p class="lead">It looks like you got lost in our system</p>
        </div>
      </div>
    </main>

    <%- include('../part/footer.ejs') %>
  </body>
</html>