<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <meta http-equiv="refresh" content="1;url=https://beee.cf/login" />
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    
    <%- include('../part/navbar.ejs') %>
    
    <main id="main" role="main" class="container main">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="jumbo-img">
            <img class="jumbotron-image animate-img" src="<%= bot.user.displayAvatarURL() %>">
          </div>
          <h1 class="display-4">Loading...</h1>
          <p class="lead">Make you logged...</p>
        </div>
      </div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <i class="fas fa-server"></i> <%= bot.guilds.cache.size %>
    </div>
    <div class="col-sm">
      <i class="fas fa-hashtag"></i> <%= bot.channels.cache.size %>
    </div>
    <div class="col-sm">
      <i class="fas fa-users"></i> <%= bot.users.cache.size %>
    </div>
  </div>
</div>      
    </main>
    

    <%- include('../part/footer.ejs') %>
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <%- include('../part/loading.ejs') %>
  </body>
</html>