
<!--  -->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
    <%- include('../part/loading.ejs') %>
    
<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    
    <%- include("../part/navbar-dashboard.ejs") %>
    
    <!-- overlay to close sidebar on small screens -->
    <div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
    <!-- note: in the layout margin auto is the key as sidebar is fixed -->
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- top nav -->
      <nav class="w-100 d-flex py-2 mb-4 shadow-sm">
        <!-- close sidebar -->
        <button class="btn py-0 d-lg-none" id="open-sidebar">
          <i class="fa fa-bars text-primary" style="font-size: 30px;"></i>
        </button>
        <div class="dropdown ml-auto">
          <button class="btn py-0 d-flex align-items-center" id="logout-dropdown" data-toggle="dropdown" aria-expanded="false">
            <span class="fas fa-user-circle text-primary h4"></span>
            <span class="fa fa-chevron-down ml-1 mb-2 small text-primary "></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right border-0 shadow-sm" aria-labelledby="logout-dropdown" style="box-shadow: 0px 0px 12px 3px rgb(0 0 0 / 50%) !important;">
      <% if (req.user) { %>
            <a class="dropdown-item" href="/account"><%= req.user.username %></a>
      <% } else { %>
            <a class="dropdown-item" href="/login">Login</a>
      <% } %>            
            <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="/invite?permission=8">Invite</a>
            <a class="dropdown-item" href="/support">Support</a>
          </div>
        </div>
      </nav>
      <!-- main content -->
      <main class="container-fluid">
        <div class="jumbotron jumbotron-fluid rounded bg-white my-embed">
  <div class="container">
    <p class="lead text-muted"><strong><%= guild.name %></strong></p>
  </div>
</div>               
       <form method="POST" id="formnya" onchange="save()">
          <div class="col-md-6 col-lg-4" style="width: 100%; height: 100%; padding-right: 0px; max-width: 100% !important; max-height: 100% !important; padding-left: 0px;" id="save-list">
            <article class="p-4 rounded my-embed
               mb-4" style="padding: 5px !important;">
              <a class="align-items-center">
        <div class="save-list">
          <a class="save-btn-item reset-btn" onclick="resetFORM()" style="color: white; text-align: right; margin-right: 24px; cursor: pointer;">Reset</a>
          <button class="btn btn-warning save-btn-item" id="thebtn" type="submit">Save</button>
        </div>     
              </a>
            </article>
          </div>          
        <section>         
         
          <div class="col-md-6 col-lg-4" style="width: 100%; height: 100%; padding-right: 0px; max-width: 100% !important; max-height: 100% !important; padding-left: 0px;">
            <article class="p-4 rounded my-embed
               mb-4" style="padding: 5px !important;">
              <a class="align-items-center">
<div class="accordion" id="accordionExample">
  <div class="card" id="anti-link">
    <div class="card-header" id="head-anti-link" data-toggle="collapse" data-target="#anti-link" aria-expanded="true" aria-controls="anti-link">
      <h2 class="mb-0" id="anti-link-name"><a>Anti link -</a> <small>admin are not affected</small></h2>
    </div>

    <div id="anti-link" class="collapse" aria-labelledby="head-anti-link" data-parent="#accordionExample">
      <div class="card-body">
        <div class="card-sec-item">
          <h5 style="line-height: 1; text-align: left; float: left; width: 10px; min-width: 172px; font-size: 30px;">Enable: <label class="switch"><input type="checkbox" name="anti-link" <%= enable_ ? 'checked="checked"' : "" %></input>><span class="slider round"></span></label></h5>
        </div>
      </div>
    </div>
  </div>  
      </div>    
              </a>
            </article>
          </div>          
        </section>
    </form>
      </main>
    </div>
  </div>
</div>
<!--     <script>
$(window).resize(function() {
	var path = $(this);
	var contW = path.width();
	if(contW >= 769){
    $('.content').css('margin-left', '220px');
	}else{
    $('.content').css('margin-left', '0px');
	}
});

$(document).ready(function() {
	$(".side-panel-toggle").click(function(e) {
		e.preventDefault();
    var marginLeft = $('.content').css('margin-left');
    if (marginLeft === '220px') {
      $('.content').css('margin-left', '0px');
    } else {
      $('.content').css('margin-left', '220px');
    }
	});
});    
    </script> -->
    <script>
      let form = $('#formnya')
      let TheForm = $('#thebtn')
      let resetBTN = $('.reset-btn');
      let embedSave = $("#save-list")
      TheForm.hide()
      resetBTN.hide()
      embedSave.hide();
      
      async function save() {
      embedSave.show();
      TheForm.show();
      resetBTN.show();
      }
      
      async function resetFORM() {
        form.trigger("reset");
        TheForm.hide();
        resetBTN.hide();
        embedSave.hide();
      }   
    </script>    
<script>
$(document).ready(()=>{
  
  $('#open-sidebar').click(()=>{
     
      // add class active on #sidebar
      $('#sidebar').addClass('active');
      
      // show sidebar overlay
      $('#sidebar-overlay').removeClass('d-none');
    
   });
  
  
   $('#sidebar-overlay').click(function(){
     
      // add class active on #sidebar
      $('#sidebar').removeClass('active');
      
      // show sidebar overlay
      $(this).addClass('d-none');
    
   });
  
   $('#sidebar-remove-overlay').click(function(){
     
      // add class active on #sidebar
      $('#sidebar').removeClass('active');
     
     $("#sidebar-overlay").addClass('d-none');
    
   });  
  
});  
    </script>
  </body>
</html>