<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>    
    <%- include('../part/loading.ejs') %>
    
    <%- include('../part/navbar.ejs') %>
    
    <main id="main" role="main" class="main" style="padding: 10px;">
<div class="wrapper">
  <div class="sidebar">
            <% let icon;
            if (guild.icon) {
            icon = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp`
            } else if (!guild.icon) {
            icon = bot.user.displayAvatarURL()
            }
            %>    
    <div class="title"><img class="server-icon" src="<%= icon %>"> <%= guild.name %></div>
    <ul class="nav">
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/commands" class="a"><i class="fas fa-chart-bar"></i> Commands</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/settings" class="a"><i class="fas fa-cog"></i> Settings</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>" class="a"><i class="fas fa-chart-bar"></i> Statistics</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/auto-mod" class="a"><i class="fas fa-ban"></i> Auto Mod</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/cc" class="a"><i class="fas fa-code"></i> Custom Commands</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/music-player" class="a"><i class="fas fa-music"></i> Music</a>
      </li>
      <li class="sidebar-item">
        <a href="/leaderboard?guild=<%= guild.id %>" class="a"><i class="fas fa-clipboard"></i> Leaderboard</a>
      </li>
    </ul>
  </div> 
  <div class="content content-is-open">
    <span class='side-panel-toggle'>
      <i class="fa fa-bars"></i>
    </span>
    <div class="graph-list">
    <div class="well well-sm graph">
      <form method="post" class="form" onchange="updateExample()">
        <div class="input-item" id="username-clm">
        <label for="username" class="label">nickname<i style="color: red;">*</i></label>
        <input type="text" class="input" id="username" value="<%= bot.user.username %>" name="newUsername" minlength="3" maxlength="20" required>
        </div>
        <div class="input-item" id="prefix-clm">
        <label for="prefix" class="label">prefix<i style="color: red;">*</i></label>
        <input type="text" class="input" id="prefix" value="!" name="newPrefix" minlength="1" maxlength="4" required>               
        </div>
        <div class="button-list">
          <button class="btn btn-success" disabled="" type="submit" id="save-btn">Save changes</button>
          <button class="btn btn-success" onclick="deleteBtnList()" disabled="" type="reset" id="reset-btn">Reset</button>
        </div>
      </form>
<div class="example-bot">
  <div class="example-bot-sec">
        <img class="example-bot-avatar" src="https://cdn.discordapp.com/avatars/832610957405847562/07459f88ca1982cb717ae0e31b74a24d.webp">
        <span class="example-bot-name" id="bot-name">Bee3</span>
    <div class="example-bot-tag">
<svg style="margin-top: -2px;" aria-label="Verified Bot" class="botTagVerified-1klIIt" aria-hidden="false" width="16" height="16" viewBox="0 0 16 15.2"><path d="M7.4,11.17,4,8.62,5,7.26l2,1.53L10.64,4l1.36,1Z" fill="currentColor"></path></svg>   
    <span class="example-bot-tag-name">BOT</span>    
    </div>    
        <span class=" example-bot-time"="">Today at 2:28 AM</span>
  <span class="example-bot-msg" id="bot-msg">!help</span>
  </div>
    </div>
    </div>      
    </div>
    <hr>
  </div>
</div>
    </main>
    

    <%- include('../part/footer.ejs') %>
    
    <script>
var button = $('#save-btn');
var button2 = $("#reset-btn");
var orig = [];
button.hide();
button2.hide();   
$('.button-list').hide();   
      
$.fn.getType = function () {
    return this[0].tagName == "INPUT" ? $(this[0]).attr("type").toLowerCase() : this[0].tagName.toLowerCase();
}

$("form :input").each(function () {
    var type = $(this).getType();
    var tmp = {
        'type': type,
        'value': $(this).val()
    };
    if (type == 'radio') {
        tmp.checked = $(this).is(':checked');
    }
    orig[$(this).attr('id')] = tmp;
});

$('form').bind('change keyup', function () {

    var disable = true;
    $("form :input").each(function () {
        var type = $(this).getType();
        var id = $(this).attr('id');

        if (type == 'text' || type == 'select') {
            disable = (orig[id].value == $(this).val());
        } else if (type == 'radio') {
            disable = (orig[id].checked == $(this).is(':checked'));
        }

        if (!disable) {
            return false; // break out of loop
        }
    });

  if (disable) {
    button.hide(500);
    button2.hide(500);
    $('.button-list').hide(500);
  } else if (!disable) {
    button.show(500);
    button2.show(500);
    $('.button-list').show(500);
  }
  updateExample();
    button.prop('disabled', disable);
    button2.prop('disabled', disable);
});
      
    </script>
    <script>
      document.getElementById("bot-name").innerHTML = document.getElementById("username").value || <%= bot.user.username %>;
      document.getElementById("bot-msg").innerHTML = `${document.getElementById("prefix").value || "!"}help`
      
      async function deleteBtnList() {
        document.getElementById("bot-name").innerHTML = document.getElementById("username").value || `<%= bot.user.username %>`;
        document.getElementById("bot-msg").innerHTML = `${document.getElementById("prefix").value || "!"}help`   
        $('#save-btn').hide(500);
        $('#reset-btn').hide(500);
    $('.button-list').hide(500);        
      }
      
      async function updateExample() {
        document.getElementById("bot-name").innerHTML = document.getElementById("username").value || <%= bot.user.username %>;
        document.getElementById("bot-msg").innerHTML = `${document.getElementById("prefix").value || "!"}help`
      }
      
$(window).resize(function() {
	var path = $(this);
	var contW = path.width();
	if(contW >= 769){
    $('.content').css('margin-left', '220px');
	}else{
    $('.content').css('margin-left', '0px');
	}
});

$(document).ready(function() {
	$(".side-panel-toggle").click(function(e) {
		e.preventDefault();
    var marginLeft = $('.content').css('margin-left');
    if (marginLeft === '220px') {
      $('.content').css('margin-left', '0px');
    } else {
      $('.content').css('margin-left', '220px');
    }
	});
});    
    </script>
  </body>
</html>