<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>    
    <%- include('../part/loading.ejs') %>
    
    <%- include('../part/navbar.ejs') %>
    
    <main id="main" role="main" class="main" style="padding: 10px;">
<div class="wrapper">
  <div class="sidebar">
            <% let icon;
            if (guild.icon) {
            icon = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp`
            } else if (!guild.icon) {
            icon = bot.user.displayAvatarURL()
            }
            %>    
    <div class="title"><img class="server-icon" src="<%= icon %>"> <%= guild.name %></div>
    <ul class="nav">
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/commands" class="a"><i class="fas fa-chart-bar"></i> Commands</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/settings" class="a"><i class="fas fa-cog"></i> Settings</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>" class="a"><i class="fas fa-chart-bar"></i> Statistics</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/auto-mod" class="a"><i class="fas fa-ban"></i> Auto Mod</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/cc" class="a"><i class="fas fa-code"></i> Custom Commands</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/music-player" class="a"><i class="fas fa-music"></i> Music</a>
      </li>
      <li class="sidebar-item">
        <a href="/leaderboard?guild=<%= guild.id %>" class="a"><i class="fas fa-clipboard"></i> Leaderboard</a>
      </li>
    </ul>
  </div> 
  
  <% let disabled = [] 
  if (database.Settings.DisabledCommands[0]) {
  database.Settings.DisabledCommands.map(cmd => {
  disabled.push(cmd.name.toLowerCase());
  });
  }
  %>
  
  <div class="content content-is-open" style="height: auto;">
    <span class='side-panel-toggle'>
      <i class="fa fa-bars"></i>
    </span>
    <div class="module-list">
      
      <% bot.Modules.map(mod => { %>
      
      <% let cmds = []
      mod.commands.map(cmd => {
      if (disabled.includes(cmd.name.toLowerCase())) {
      cmds.push({cmd: cmd, disabled: true})
      } else if (!disabled.includes(cmd.name.toLowerCase())) {
      cmds.push({cmd: cmd, disabled: false})
      }
      });
      %>
<!--        -->
      <div class="module">
        <h1 class="module-name"><%= mod.name %></h1>
        
    <div class="db-cmdlist">
      <% cmds.map(cmd => { %>
      <div class="db-cmd">
        <h3 class="db-cmd-name"><%= cmd.cmd.name.length > 9 ? cmd.cmd.name.substring(0, 6) + "..." : cmd.cmd.name %> <% if (cmd.disabled) { %> <label class="switch"><input type="checkbox" id="<%= cmd.cmd.name %>"><span class="slider round"></span></label> <% } else if (!cmd.disabled) { %> <label class="switch"><input type="checkbox" id="<%= cmd.cmd.name %>" checked><span class="slider round"></span></label> <% } %></h3>
        <span class="db-cmd-desc"><%= cmd.cmd.description %></span>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>        
      </div>         
      <% }) %>
    </div>        
        
      </div>      
      
      <% }) %>
      
<!--       <div class="module">
        <h1 class="module-name">Module Name</h1>
        
    <div class="db-cmdlist">
      <div class="db-cmd">
        <h3 class="db-cmd-name">Name Here <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></h3>
        <span class="db-cmd-desc">Description here</span>
      </div>
      <div class="db-cmd">
        <h3 class="db-cmd-name">Name Here <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></h3>
        <span class="db-cmd-desc">Description here</span>
      </div>
      <div class="db-cmd">
        <h3 class="db-cmd-name">Name Here <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></h3>
        <span class="db-cmd-desc">Description here</span>
      </div>
      <div class="db-cmd db-cmd-disable">
        <h3 class="db-cmd-name">Name Here <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></h3>
        <span class="db-cmd-desc">Description here</span>
      </div>   
      <div class="db-cmd">
        <h3 class="db-cmd-name">Name Here <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></h3>
        <span class="db-cmd-desc">Description here</span>
      </div>   
      <div class="db-cmd">
        <h3 class="db-cmd-name">Name Here <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></h3>
        <span class="db-cmd-desc">Description here</span>
      </div>      
    </div>        
        
      </div> -->
    </div>
  </div>
</div>
    </main>
    

    <%- include('../part/footer.ejs') %>
    <script>
$(window).resize(function() {
	var path = $(this);
	var contW = path.width();
	if(contW >= 769){
    $('.content').css('margin-left', '220px');
	}else{
    $('.content').css('margin-left', '0px');
	}
});

$(document).ready(function() {
	$(".side-panel-toggle").click(function(e) {
		e.preventDefault();
    var marginLeft = $('.content').css('margin-left');
    if (marginLeft === '220px') {
      $('.content').css('margin-left', '0px');
    } else {
      $('.content').css('margin-left', '220px');
    }
	});
});    
    </script>
  </body>
</html>