<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    
    <%- include('../part/navbar.ejs') %>
    
    <main id="main" role="main" class="container main">
<div class="wrapper">
  <div class="sidebar">
            <% let icon;
            if (guild.icon) {
            icon = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp`
            } else if (!guild.icon) {
            icon = bot.user.displayAvatarURL()
            }
            %>    
    <div class="title"><img class="server-icon" src="<%= icon %>"> <%= guild.name %></div>
    <ul class="nav">
      <li class="sidebar-item">
        <a class="a"><i class="fa fa-gear"></i> Dashboard</a>
      </li>
      <li class="sidebar-item">
        <a class="a"><i class="fas fa-chart-bar"></i> Statistics</a>
      </li>
      <li class="sidebar-item">
        <a class="a"><i class="fas fa-ban"></i> Auto Mod</a>
      </li>
      <li class="sidebar-item">
        <a class="a"><i class="fas fa-code"></i> Custom Commands</a>
      </li>
      <li class="sidebar-item">
        <a class="a"><i class="fas fa-clipboard"></i> Leaderboard</a>
      </li>
    </ul>
  </div> 
  <div class="content content-is-open">
    <span class='side-panel-toggle'>
      <i class="fa fa-bars"></i>
    </span>
    <div class="well well-sm">
<canvas id="myChart" style="max-width: -webkit-fill-available;"></canvas>   
    </div>
    <hr>
  </div>
</div>
    </main>
    

    <%- include('../part/footer.ejs') %>
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
    <%- include('../part/loading.ejs') %>
    <script>
$(window).resize(function() {
	var path = $(this);
	var contW = path.width();
	if(contW >= 769){
    $('.content').css('margin-left', '220px');
	}else{
    $('.content').css('margin-left', '0px');
	}
});

$(document).ready(function() {
	$(".side-panel-toggle").click(function(e) {
		e.preventDefault();
    var marginLeft = $('.content').css('margin-left');
    if (marginLeft === '220px') {
      $('.content').css('margin-left', '0px');
    } else {
      $('.content').css('margin-left', '220px');
    }
	});
});    
    </script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
  responsive: true,
  barValueSpacing: 2
    }
});
</script>         
  </body>
</html>