<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>    
    <%- include('../part/loading.ejs') %>
    
    <%- include('../part/navbar.ejs') %>
    
    <main id="main" role="main" class="main" style="padding: 10px;">
<div class="wrapper">
  <div class="sidebar">
            <% let icon;
            if (guild.icon) {
            icon = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp`
            } else if (!guild.icon) {
            icon = bot.user.displayAvatarURL()
            }
            %>    
    <div class="title"><img class="server-icon" src="<%= icon %>"> <%= guild.name %></div>
    <ul class="nav">
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/commands" class="a"><i class="fas fa-chart-bar"></i> Commands</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/settings" class="a"><i class="fas fa-cog"></i> Settings</a>
      </li>      
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>" class="a"><i class="fas fa-chart-bar"></i> Statistics</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/auto-mod" class="a"><i class="fas fa-ban"></i> Auto Mod</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/cc" class="a"><i class="fas fa-code"></i> Custom Commands</a>
      </li>
      <li class="sidebar-item">
        <a href="/dashboard/<%= guild.id %>/music-player" class="a"><i class="fas fa-music"></i> Music</a>
      </li>
      <li class="sidebar-item">
        <a href="/leaderboard?guild=<%= guild.id %>" class="a"><i class="fas fa-clipboard"></i> Leaderboard</a>
      </li>
    </ul>
  </div> 
  <div class="content content-is-open">
    <span class='side-panel-toggle'>
      <i class="fa fa-bars"></i>
    </span>
    <div class="graph-list">
    <div class="well well-sm graph">
      <form method="post" class="form" onchange="updateExample()">
        <div class="input-item" id="username-clm">
        <label for="username" class="label">Username</label>
        <input type="text" class="input" id="username" value="<%= bot.user.username %>" name="newUsername" required>
        </div>
        <div class="input-item" id="prefix-clm">
        <label for="prefix" class="label">Prefix</label>
        <input type="text" class="input" id="prefix" value="!" name="newPrefix" required>               
        </div>
        <button class="btn btn-success" type="submit">Save changes</button>
      </form>
      <p class="example-bot">
        <span class="example-bot-name" id="bot-name"></span>
        <span class="example-bot-msg" id="bot-msg"></span>
      </p>
    </div>      
    </div>
    <hr>
  </div>
</div>
    </main>
    

    <%- include('../part/footer.ejs') %>
    <script>
      document.getElementById("bot-name").innerHTML = document.getElementById("username").value || <%= bot.user.username %>;
      document.getElementById("bot-msg").innerHTML = `${document.getElementById("prefix").value || "!"}help`
      
      async function updateExample() {
        document.getElementById("bot-name").innerHTML = document.getElementById("username").value || <%= bot.user.username %>;
        document.getElementById("bot-msg").innerHTML = `${document.getElementById("prefix").value || "!"}help`
      }
      
$(window).resize(function() {
	var path = $(this);
	var contW = path.width();
	if(contW >= 769){
    $('.content').css('margin-left', '220px');
	}else{
    $('.content').css('margin-left', '0px');
	}
});

$(document).ready(function() {
	$(".side-panel-toggle").click(function(e) {
		e.preventDefault();
    var marginLeft = $('.content').css('margin-left');
    if (marginLeft === '220px') {
      $('.content').css('margin-left', '0px');
    } else {
      $('.content').css('margin-left', '220px');
    }
	});
});    
    </script>
<script>
var DEFAULT_DATASET_SIZE = 7,
			addedCount = 0,
		    color = Chart.helpers.color;

	var months = ["0", "0", "0", "0", "0"];

	var chartColors = {
		red: 'rgb(255, 99, 132)',
		orange: 'rgb(255, 159, 64)',
		yellow: 'rgb(255, 205, 86)',
		green: 'rgb(75, 192, 192)',
		blue: 'rgb(54, 162, 235)',
		purple: 'rgb(153, 102, 255)',
		grey: 'rgb(231,233,237)'
	};

function randomScalingFactor() {
		return Math.round(Math.random() * 100);
	}

var barData = {
			labels: ["0", "0", "0", "0", "0"],
			datasets: [{
				label: 'Commands Used',
				backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
				borderColor: chartColors.red,
				borderWidth: 1,
				data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
				]
			}]

		};
var index = 11;
var ctx = document.getElementById("CommandsUsed").getContext("2d");
		var	myNewChartB = new Chart(ctx, {
				type: 'bar',
				data: barData,
				options: {
          maintainAspectRation: false,
          padding: 0,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Bar Chart'
					},
          devicePixelRatio: window.devicePixelRatio
				}
			});

    </script>
  </body>
</html>