<!--  -->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>    
    <%- include('../part/loading.ejs') %>
    
<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <div class="col-md-3 col-lg-2 px-0 position-fixed vh-100 bg-white shadow-sm sidebar" id="sidebar" style="border-radius: 0px;">
            <% let icon;
            if (guild.icon) {
            icon = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp`
            } else if (!guild.icon) {
            icon = bot.user.displayAvatarURL()
            }
            %>          
      <button class="fa0"></button>
      <div class="list-group rounded-0">
        <a href="#" class="list-group-item list-group-item-action active border-0 d-flex align-items-center">
          <span class="fa fa-border-all"></span>
          <span class="ml-2">Dashboard</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action border-0 align-items-center">
          <span class="fa fa-box"></span>
          <span class="ml-2">Products</span>
        </a>

        <button class="list-group-item list-group-item-action border-0 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#sale-collapse">
          <div>
            <span class="fa fa-cart-dash"></span>
            <span class="ml-2">Sales</span>
          </div>
          <span class="fa fa-chevron-down small"></span>
        </button>
        <div class="collapse" id="sale-collapse" data-parent="#sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action border-0 pl-5">Customers</a>
            <a href="#" class="list-group-item list-group-item-action border-0 pl-5">Sale Orders</a>
          </div>
        </div>

        <button class="list-group-item list-group-item-action border-0 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#purchase-collapse">
          <div>
            <span class="fa fa-cart-plus"></span>
            <span class="ml-2">Purchase</span>
          </div>
          <span class="fa fa-chevron-down small"></span>
        </button>
        <div class="collapse" id="purchase-collapse" data-parent="#sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action border-0 pl-5">Sellers</a>
            <a href="#" class="list-group-item list-group-item-action border-0 pl-5">Purchase Orders</a>
          </div>
        </div>
      </div>
    </div>
    <!-- overlay to close sidebar on small screens -->
    <div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
    <!-- note: in the layout margin auto is the key as sidebar is fixed -->
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- top nav -->
      <nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm">
        <!-- close sidebar -->
        <button class="btn py-0 d-lg-none" id="open-sidebar">
          <i class="fa fa-bars text-primary" style="font-size: 30px;"></i>
        </button>
        <div class="dropdown ml-auto">
          <button class="btn py-0 d-flex align-items-center" id="logout-dropdown" data-toggle="dropdown" aria-expanded="false">
            <span class="fas fa-user-circle text-primary h4"></span>
            <span class="fa fa-chevron-down ml-1 mb-2 small text-primary "></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right border-0 shadow-sm" aria-labelledby="logout-dropdown">
            <a class="dropdown-item" href="#">Logout</a>
            <a class="dropdown-item" href="#">Settings</a>
          </div>
        </div>
      </nav>
      <!-- main content -->
      <main class="container-fluid">
        <section class="row">
          <div class="col-md-6 col-lg-4">
            <!-- card -->
            <article class="p-4 rounded shadow-sm border-left
               mb-4">
              <a href="#" class="d-flex align-items-center">
                <span class="fa fa-box h5"></span>
                <h5 class="ml-2">Products</h5>
              </a>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="p-4 rounded shadow-sm border-left mb-4">
              <a href="#" class="d-flex align-items-center">
                <span class="fa fa-person h5"></span>
                <h5 class="ml-2">Customers</h5>
              </a>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="p-4 rounded shadow-sm border-left mb-4">
              <a href="#" class="d-flex align-items-center">
                <span class="fa fa-person-check h5"></span>
                <h5 class="ml-2">Sellers</h5>
              </a>
            </article>
          </div>
        </section>
        
        <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4">
  <div class="container">
    <h1 class="display-4 mb-2 text-primary">Simple</h1>
    <p class="lead text-muted">Simple Admin Dashboard with Bootstrap.</p>
  </div>
</div>
      </main>
    </div>
  </div>
</div>
<!--     <script>
$(window).resize(function() {
	var path = $(this);
	var contW = path.width();
	if(contW >= 769){
    $('.content').css('margin-left', '220px');
	}else{
    $('.content').css('margin-left', '0px');
	}
});

$(document).ready(function() {
	$(".side-panel-toggle").click(function(e) {
		e.preventDefault();
    var marginLeft = $('.content').css('margin-left');
    if (marginLeft === '220px') {
      $('.content').css('margin-left', '0px');
    } else {
      $('.content').css('margin-left', '220px');
    }
	});
});    
    </script> -->
<script>
$(document).ready(()=>{
  
  $('#open-sidebar').click(()=>{
     
      // add class active on #sidebar
      $('#sidebar').addClass('active');
      
      // show sidebar overlay
      $('#sidebar-overlay').removeClass('d-none');
    
   });
  
  
   $('#sidebar-overlay').click(function(){
     
      // add class active on #sidebar
      $('#sidebar').removeClass('active');
      
      // show sidebar overlay
      $(this).addClass('d-none');
    
   });
  
});  
  
var DEFAULT_DATASET_SIZE = 7,
			addedCount = 0,
		    color = Chart.helpers.color;

	var months = ["0", "0", "0", "0", "0"];

	var chartColors = {
		red: 'rgb(255, 99, 132)',
		orange: 'rgb(255, 159, 64)',
		yellow: 'rgb(255, 205, 86)',
		green: 'rgb(75, 192, 192)',
		blue: 'rgb(54, 162, 235)',
		purple: 'rgb(153, 102, 255)',
		grey: 'rgb(231,233,237)'
	};

  let data = [];
  let dataDate = [];
  
  <% database.Statistics.CommandsUsed.sort((a, b) => new Date(a.Date).getTime() - new Date(b.Date).getTime()).map(x => { %>
  data.push(`<%= x.Number %>`)
  dataDate.push(`<%= new Date(x.Date).toLocaleDateString() %>`)
  <% }) %>
  
var barData = {
			labels: dataDate.slice(dataDate.length - 5, dataDate.length),
			datasets: [{
				label: 'Commands Used',
				backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
				borderColor: chartColors.red,
				borderWidth: 1,
				data: data.slice(data.length - 5, data.length)
			}]

		};
var index = 11;
var ctx = document.getElementById("CommandsUsed").getContext("2d");
		var	myNewChartB = new Chart(ctx, {
				type: 'bar',
				data: barData,
				options: {
          maintainAspectRation: false,
          padding: 0,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Bar Chart'
					},
          devicePixelRatio: window.devicePixelRatio
				}
			});
  
    </script>
  </body>
</html>