<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    
    <%- include('../part/navbar.ejs') %>
    
    <main id="main" role="main" class="container main">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <% req.user.guilds.map(x => { %>
    <% if (!bot.guilds.cache.get(x.id)) { %>
    <tr style="color: white;">
      <th scope="row">1</th>
      <td><%= x.name %></td>
      <td><%= x.id %></td>
      <td>Add Me</td>
    </tr>    
    <% } %>
    
    
    <% }) %>
  </tbody>
</table>
    </main>
    

    <%- include('../part/footer.ejs') %>
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <%- include('../part/loading.ejs') %>
  </body>
</html>