<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs') %>
    <%- include('../part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    
    <%- include('../part/navbar.ejs') %>
    
    <main id="main" role="main" class="container main">
      <div class="server-list">
        <% let guilds = []; %>
        <% req.user.guilds.map(guild => { %>
        <% if (!bot.guilds.cache.get(guild.id)) { %>
        <% 
        let Check = new Permissions(guild.permissions)
        if (!Check.has("MANAGE_GUILD")) return;
        guilds.push({num: 1, id: guild.id, name: guild.name, icon: guild.icon, btn: "Add Me", redirect: `/invite?permission=8&guild=${guild.id}`});
        %>      
        <% } else { %>
        <% guilds.push({num: 2, id: guild.id, name: guild.name, icon: guild.icon, btn: "Manage", redirect: `/dashboard/${guild.id}`}) %>
        <% } %>
        <% }) %>
<table class="table table-borderless">
  <thead>
    <h3 style="color: white;">
      Please select a server
    </h3>
  </thead>
  <tbody>
        <% guilds.sort((a, b) => b.num - a.num).map(guild => { %>
            <% let icon;
            if (guild.icon) {
            icon = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp`
            } else if (!guild.icon) {
            icon = bot.user.displayAvatarURL()
            }
            %>
    <tr>
      <th class="server-icon-name"><img class="server-icon" src="<%= icon %>"> <span class="server-name"><%= guild.name %></span></th>
      <td><button onclick="document.location='<%= guild.redirect %>'" class="btn <%= guild.btn.toLowerCase() == "add me" ? "btn-secondary" : "btn-success" %> server-btn"><%= guild.btn %></button></td>
    </tr>
  </tbody> 
        <% }) %>         
</table>        
      </div>
    </main>
    

    <%- include('../part/footer.ejs') %>
    <%- include('../part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <%- include('../part/loading.ejs') %>
    
  </body>
</html>