<!DOCTYPE html>
<html>
  <head>
    <%- include('part/head.ejs') %>
    <%- include('part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <%- include('part/loading.ejs') %>
    
    <%- include('part/navbar.ejs') %>
    
    <main id="main" role="main" class="container main">

      
      
      
      <% let blockedCMD = [];
      let commands = [];
      
      if (database.Settings.DisabledCommands[0]) {
      database.Settings.DisabledCommands.map(x => {
      blockedCMD.push(x.name.toLowerCase())
      });
      
      if (blockedCMD[0]) {
      bot.Modules.map(mod => {
      mod.commands.filter(x => blockedCMD.includes(x.name.toLowerCase())).map(x => commands.push({cmd: x, module: mod}))
      });
      } else {
      bot.Modules.map(mod => {
      mod.commands.map(x => commands.push({cmd: x, module: mod}))
      });
      }      
      
      } else {
      bot.Modules.map(mod => {
      mod.commands.map(x => commands.push({cmd: x, module: mod}))
      });
      }
      
      
      %>
      
      
      <div class="cmdlist">
<!--         <input class="cmdlist-search" placeholder="search ðŸ”"> -->
        <div class="cmdlist-primary">
          <div class="cmdlist-item cmdlist-tag">
<ul class="tags">
  <li class="tag active" onclick="openCity(event, 'all')"><a>All</a></li>
  <% bot.Modules.map(mod => { %>
  <li class="tag" onclick="openCity(event, '<%= mod.name %>')"><a><%= mod.name %></a></li>
  <% }) %>
</ul>            
          </div>
          <div class="cmdlist-item cmdlist-cmds">
            <div class="tagcontent" id="all">
<div class="accordion" id="accordionExample">
  <% bot.Commands.map(cmd => { %>
  <div class="card">
    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#<%= cmd.name %>-all" aria-expanded="true" aria-controls="<%= cmd.name %>-all">
      <h2 class="mb-0">
        <strong><%= cmd.name %></strong> -<small style="font-size: 20px !important;"> <%= cmd.description %></small>
      </h2>
    </div>

    <div id="<%= cmd.name %>-all" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="card-sec-item">
        <div class="card-sec-item">
          <h5>Aliases:</h5>
          <pre><code><%= cmd.aliases.join(", ") || "None" %></code></pre>
        </div>
        <div class="card-sec-item">
          <h5>Cooldown:</h5>
          <pre><code><%= cmd.cooldown %>s</code></pre>
        </div>
        <div class="card-sec-item">
          <h5>User Permissions:</h5>
          <pre><code><%= cmd.permissions.user.join(", ") || "None" %></code></pre>
        </div>
        <div class="card-sec-item">
          <h5>Bot Permissions:</h5>
          <pre><code><%= cmd.permissions.client.join(", ") || "None" %></code></pre>
        </div>
        </div>
      </div>
    </div>
  </div>  
  <% }) %>
</div>                  
            </div>            
            <% bot.Modules.map(mod => { %>
            <div class="tagcontent" id="<%= mod.name %>" style="display: none;">
<div class="accordion" id="accordionExample">
  <% mod.commands.map(cmd => { %>
  <div class="card">
    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#<%= cmd.name %>" aria-expanded="true" aria-controls="<%= cmd.name %>">
      <h2 class="mb-0">
        <%= cmd.name %> -<small style="font-size: 20px !important;"> <%= cmd.description %></small>
      </h2>
    </div>

    <div id="<%= cmd.name %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="card-sec-item">
          <h5>Aliases:</h5>
          <pre><code><%= cmd.aliases.join(", ") || "None" %></code></pre>
        </div>
        <div class="card-sec-item">
          <h5>Cooldown:</h5>
          <pre><code><%= cmd.cooldown %>s</code></pre>
        </div>
        <div class="card-sec-item">
          <h5>User Permissions:</h5>
          <pre><code><%= cmd.permissions.user.join(", ") || "None" %></code></pre>
        </div>
        <div class="card-sec-item">
          <h5>Bot Permissions:</h5>
          <pre><code><%= cmd.permissions.client.join(", ") || "None" %></code></pre>
        </div>
      </div>
    </div>
  </div>  
  <% }) %>
</div>                  
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      
    </main>

    <%- include('part/footer.ejs') %>
    <script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tagcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tag");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
    </script>
  </body>
</html>