<!DOCTYPE html>
<html>
  <head>
    <%- include('part/head.ejs') %>
    <%- include('part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>    
    <%- include('part/loading.ejs') %>
    
    <%- include('part/navbar.ejs') %>
    
    <main id="main" role="main" class="container main">  
    </main>

    <%- include('part/footer.ejs') %>
  </body>
</html>