<!DOCTYPE html>
<html>
  <head>
    <%- include('part/head.ejs') %>
    <%- include('part/bootstrapCSS.ejs') %>
  </head>
  <body class="on-loading">
    <%- include('part/bootstrapJS.ejs') %>
    <script src="https://kit.fontawesome.com/071ea1fa85.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <%- include('part/loading.ejs') %>
    
    <%- include('part/navbar.ejs') %>
    
    <main id="main" role="main" class="container main">

      
      
      
      <% let blockedCMD = [];
      let commands = [];
      
      if (database.Settings.DisabledCommands[0]) {
      database.Settings.DisabledCommands.map(x => {
      blockedCMD.push(x.name.toLowerCase())
      });
      
      if (blockedCMD[0]) {
      bot.Modules.map(mod => {
      mod.commands.filter(x => blockedCMD.includes(x.name.toLowerCase())).map(x => commands.push({cmd: x, module: mod}))
      });
      } else {
      bot.Modules.map(mod => {
      mod.commands.map(x => commands.push({cmd: x, module: mod}))
      });
      }      
      
      } else {
      bot.Modules.map(mod => {
      mod.commands.map(x => commands.push({cmd: x, module: mod}))
      });
      }
      
      
      %>
      
<div>
  <div>
    <div class="col-xs-12">
      
<table id="cmdList"  class="table table-bordered table-hover dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Aliases</th>
                <th>Category</th>
                <th>Description</th>
                <th>Cooldown</th>
                <th>User Perms</th>
                <th>Bot Perms</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Aliases</th>
                <th>Category</th>
                <th>Description</th>
                <th>Cooldown</th>
                <th>User Perms</th>
                <th>Bot Perms</th>
            </tr>
        </tfoot>
        <tbody>
          <% commands.map(cmd => { %>
            <tr>
                <td><%= cmd.cmd.name %></td>
                <td><%= cmd.cmd.aliases.join(", ") %></td>
                <td><%= cmd.module.name %></td>
                <td><%= cmd.cmd.description %></td>
                <td><%= cmd.cmd.cooldown %></td>
                <td><%= cmd.cmd.permissions.user.join(", ") || "None" %></td>
                <td><%= cmd.cmd.permissions.client.join(", ") || "None" %></td>
            </tr>          
          <% }) %>
        </tbody>
    </table>
    </div>
    </div>
</div>      
    </main>

    <%- include('part/footer.ejs') %>
  </body>
</html>