<!DOCTYPE html>
<html>
  <head>
    <%- include('part/head.ejs') %>
    <%- include('part/bootstrapCSS.ejs') %>
  </head>
  <body>
    
    <%- include('part/navbar.ejs') %>
    
    <main role="main" class="container main">
      <h1>
        HI
      </h1>
    </main>
    
    <%- include('part/footer.ejs') %>
    
    <%- include('part/bootstrapJS.ejs') %>
  </body>
</html>